{% extends 'base.html' %} {% block title %}Inventory List - MySyara Inventory{% endblock %} {% block content %}
<style>
    .container {
        padding-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>

<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>
                    {% if form.instance.pk %} Edit Inventory Item {% else %} Add Inventory Item {% endif %}</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_serial_number">Serial Number:</label> {{ form.serial_number }}
                    </div>
                    <div class="form-group">
                        <label for="id_part_number">Part Number:</label> {{ form.part_number }}
                    </div>
                    <div class="form-group">
                        <label for="id_description">Description:</label> {{ form.description }}
                    </div>
                    <div class="form-group">
                        <label for="id_brand">Brand:</label> {{ form.brand }}
                    </div>
                    <div class="form-group">
                        <label for="id_quantity">Quantity:</label> {{ form.quantity }}
                    </div>
                    <div class="form-group">
                        <label for="id_price">Price:</label> {{ form.price }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}